html {
    min-height: 100%;
    display: flex;
}

body {
    flex: 1;
    width: 100%;
    /* text-gray-50 (coolGray) */
    background-color: #f9fafb;
}

html.dark body {
    /* text-gray-800 (coolGray) */
    background-color: #1f2937;
}

.hljs-keyword {
    font-style: italic;
}
