html {
    min-height: 100%;
    display: flex;
}

body {
    flex: 1;
    width: 100%;
}

html.dark body {
    background-color: rgb(31, 41, 55);
    color: rgba(209,213,219);
}

.hljs-keyword {
    font-style: italic;
}